html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  margin: 0px;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
 width: 1170px;
  font-family: "Muller";
  font-weight: 400;
  background-color: #E5E5E5;
  margin-left: auto;
  margin-right: auto;
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.border-r-15 {
  border-radius: 15px;
  background-color: #FFF;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  padding: 0 0px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
}

.section-offset {
  margin: 0;
  margin-bottom: 70px;
}

/*header*/
.header-btn {
  margin-left: auto;
}

.header-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-tel {
  margin-left: 40px;
  margin-top: 17px;
}

.btn-reset {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.contacts-item-link {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.container-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-li-item {
  margin-top: 27px;
  margin-bottom: 27px;
}

.header-li-item:not(:last-child) {
  margin-right: 45px;
}

.container-nav {
  margin-bottom: 70px;
  min-width: 1170px;
  min-height: 70px;
  background-color: #fff;
  border-radius: 15px;
}

.header-btn-nav:not(:last-child) {
  margin-right: 40px;
}

.header-btn-nav {
  margin-top: 14px;
  margin-bottom: 14px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
}

.header-btns-nav {
  margin: 0;
  margin-left: auto;
  margin-right: 45px;
}

.header-nav {
  padding-left: 45px;
}

/*special-offers*/
.flex-wrap {
  flex-wrap: wrap;
}

.special-offers-list {
  max-width: 573px;
}

.section-title {
  padding-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.special-flex-column {
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
}

.special-cost {
  display: inline-block;
}

.special-offers-item {
  border-radius: 15px;
}

.special-offers-item-column {
  width: 573px;
  height: 258px;
  flex-direction: column;
}

.special-offers-item-column:not(:last-child) {
  margin-bottom: 24px;
}

.special-offers-item-column-maldives {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/maldives.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.special-offers-item-column-crete {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/crete.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.special-ul-margin {
  margin-right: 24px;
}

.special-noflex-right {
  width: 573px;
  height: 540px;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/lux.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.special-prview {
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.special-prview-last {
  margin-top: 210px;
}

.special-prview-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFF;
  margin-bottom: 15px;
}

.special-prview-text-last {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFF;
}

.btn-more {
  color: #F0BF5F;
}

.special-cost {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  opacity: 0.8;
  margin: 0 0 47px;
  display: block;
}

.special-cost-last {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFF;
  opacity: 0.8;
  margin: 0 0 47px;
  display: block;
}

.btn-arrow {
  background-image: url("..//img/arrow-btn.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}

/*About-us*/
.about-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin-bottom: 0;
}

.container-about {
  margin-left: 0;
  max-width: 888px;
}

/*services*/
.services-p {
  max-width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin: 0;
}

.btn-services {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.services-item {
  width: 573px;
  height: 330px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item:not(:nth-child(n+3)) {
  margin-bottom: 22px;
}

.servaces-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 15px 15px 0px 0px;
  height: 165px;
}

.services-cont {
  margin-left: 45px;
  margin-top: 26px;
}

.services-service {
  background-image: url("../img/services-service.png");
}

.services-hall {
  background-image: url("../img/services-hall.png");
}

.services-sauna {
  background-image: url("../img/services-sauna.png");
}

.services-cars {
  background-image: url("../img/services-cars.png");
}

/*advantages*/
.advantages-item {
  width: 276px;
  height: 276px;
}

.advantages-img {
  margin-bottom: 10px;
}

.advantages-article {
  margin-left: 45px;
  margin-top: 40px;
  width: 189px;
}

.advantages-p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.advantages-item:not(:nth-child(n+5)) {
  margin-bottom: 22px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

/*placements*/
.placements-item {
  min-width: 374px;
  min-height: 440px;
}
.placements-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placements-item:not(:nth-child(n+7)) {
  margin-bottom: 24px;
}

.placements-img {
  height: 217px;
  margin-bottom: 32px;
}

.placements-article {
  overflow: hidden;
  width: 374px;
  height: 440px;
}

.placements-item-title {
  margin-left: 45px;
  margin-right: 40px;
}

.p-block {
  display: inline-block;
  margin-bottom: 16px;
}

.placements-stars-img {
  display: inline-block;
  width: 94px;
  margin-left: 55px;
}

.img-star:not(:nth-child(5n)) {
  margin-right: 1px;
}

.night-cost {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.text-dim {
  display: inline-block;
  margin-right: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.price {
  display: inline-block;
  margin-right: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.placements-name-p {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.placements-location-p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.btn-border {
  box-sizing: border-box;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.btn-right {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 54px;
  margin-top: 125px;
  background-image: url("../img/Arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 18px;
}
